.partner_user_img {
  border-radius: 50%;
  min-width: 5rem;
  max-width: 7rem;
  min-height: 5rem;
  max-height: 7rem;
  object-fit: cover;
  display: block;
}

.partner_profile_form{
    font-size: 1rem;
    font-weight: 500;
    max-width: 30rem;
    min-width: 20rem;
}

button.partner_form_submit_btn{
    background-color: var(--teal-600);
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.icons_profile_page{
    color: var(--teal-600);
    font-size: 2rem;
}

button.profile_page_form:focus{
    border-bottom: 2px solid var(--teal-600);
}