.heroe {
  background-image: url('@/assets/images/fondo.webp');
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  text-align: center;
  color: white;
}

.heroe .content {
  max-width: 600px;  
  margin: 0 auto;    
}
