.container.heroe {
  padding: 4rem 2rem;
  margin: 2rem auto;
  background-color: #f8f9fa; 
  border-radius: 1rem;
  text-align: center;
}

.container.heroe .btn.btn-primary.btn-lg {
  background-color: #633232;
  border: none;
  color: #fff;
}

.container.heroe .btn.btn-primary.btn-lg:hover {
  background-color: #972424;
}
